[Unit]
Description=geoip.kde.org api service

[Service]
Environment=GIN_MODE=release
ExecStart=/home/geoip/bin/geoip-kde-org
WorkingDirectory=/home/geoip/data/
Restart=always
